{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.desc|truncatewords:155}}
    {% else %}
        welcome to fah shop where you can buy anything...
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }}-FAH Shop
    {% else %}
        See our New Collections-FAH Shop
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div class="container-fluid">
    <div>
        <div class="row my_row">
            <div class="mx-auto">
                <p><a href="{% url 'eApp:allProducts' %}" >All Product Collections</a> </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.desc}}</p>
    </div>
        {% else %}
    <div>
        <img class="my_image my_image_padding" src="{% static 'img/banner1.jpg' %}" alt="our products" width="100%" height="250px"/>
    </div>
    <br>

    <div class="content">
        <h1 class="text-center my_title" style="color:#ED2058">Our Product Collections</h1>
        <p class="text-justify my_text" style="font-size:18px">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. , </p>
    </div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
            {% for product in products.object_list %}
            <div class="my-bottom-margin col-sm-12 col-md-4 col-lg-4 col-md-12 ">
                <div class="card"  style="font-size:18px">
                    <a href="{{product.get_url}}"><img class="card-img-top " src="{{product.image.url}}" alt="{{product.name}}" height="250px" width="250px"> </a>
                    <div class="card-body">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">${{product.price}}</p>
                        <p class="card-text">{{product.desc}}</p>

                    </div>
                </div>
            </div>
              {% endfor %}
    </div>
    <br>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>

</div>

{% endblock %}
</div>
