{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{product.desc|truncatewords:155}}
{% endblock %}

{% block title %}
    {% if category %}
        {{ product.name }}-FAH Shop
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row my_prod_row_class">
        <div class="mx_auto">
            <p><a href="{% url 'eApp:allProducts' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}}</p>
        </div>
    </div>
    <br>
    <div class="container">
       <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 cl-md-12 text-center">
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
        </div>
        <div class="col-md-12 col-sm-12  col-lg-6 col-12">
            <h1 class="my_product_title">{{product.name}}</h1>
            <p>${{product.price}}</p>
            <p class="my-title">Product Description</p>
            <p class="text-justify my_prod_text"> {{product.desc}}</p>
            {% if product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of stock</b></p>
            {% else %}
            <a  class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
            {% endif %}
        </div>
    </div>
    <div>
        <div>
            {% for product in products %}
            <div>
                <a href=""><img src="{{product.image.url}}" alt="{{product.name}}"> </a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
              {% endfor %}
        </div>

    </div>
{% endblock %}
