{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{product.desc|truncatewords:155}}
{% endblock %}

{% block title %}
    {% if category %}
        {{ product.name }}-FAH Shop
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto" style="font-size:17px;color:#84D39A;">
        <p style="color:#808080;"><a href="{% url 'eApp:allProducts' %}" style="font-size:17px;color:#808080;">Home   </a> >> <a href="{{product.category.get_url}}"style="font-size:17px;color:#808080;" >{{product.category}}</a>>>{{product.name}}</p>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row" style="height:400px;width:100%;background-color:#D462FF">
        <div class="col-lg-6" style="margin-top:20px;">
            <img src="{{product.image.url}}" alt="{{product.name}}" style="height:450px;width:300px;">
        </div>
       <div class="col-lg-6">
           <div class="product_content">
                 <h1 class="my_product_title" style="font-size:20px;color:#667C26;">{{product.name}}</h1>
                <p class="price" style="font-size:20px;color:#15317E;">${{product.price}}</p>
                <p class="my-title" style="font-size:20px;color:#437C17;">Product Description</p>
                <p class="text-justify my_prod_text" style="font-size:20px;color:#437C17;"> {{product.desc}}</p>
                {% if product.stock <= 0 %}
                <p class="text-justify my_prod_text"><b>Out of stock</b></p>
                {% else %}
                <a class="btn" style="background-color:#B048B5;height:30px;width:100px;color:#583759;font-size:16px" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
            </div>
       </div>
    </div>

</div>
    {% endblock %}
